@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Inter_18pt-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Inter_18pt-Thin.ttf') format('truetype');
}

::selection {
  background: #1a1c1e; 
  color: #edf1f3;     
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Background Image for Hero Image on the left side */
.Hero {
  background-image: url('assets/img/hero-image.png');
  background-size: cover; 
  background-position: center;
}

